<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>you searched for <%= title %> </h1>
	<h2>released in <%= year %></h2>
	<h3>here is the poster i worked hard to retrieve</h3>
	<h4>enjoy</h4>
	<img src="<%= poster_url %>" alt="">
</body>
</html>