<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1>movies app</h1>
	<form action="/details">
		<input type="text" name="title">
		<button>search</button>
	</form>

</body>
</html>