<h1>Movie Search Site!</h1>
<form action="/search_results" method="post">
  <label for="movie">Movie Name:</label>
  <input id="movie" type="text" name="title" value="">
  <input type="submit" name="" value="Search">
</form>
